.git
.github
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.tsbuildinfo

data/*
!data/*.dvc
!data/skab.lock
!data/.gitignore
mlruns
notebooks
reports
figures
SKAB
deploy
docs
monitoring
tests
docs/site
site

services/ui/node_modules
services/ui/.next
services/ui/.turbo

.env
.env.*
